@media(min-width:37em) {
    ul {
        flex-direction: row;
        justify-content: space-evenly;
        display: flex;
    }
    header li{
        width: 14vw
    }
    #hamburger {
        display: none;
    }
    .fiveDay{
        display: block;
    }
    section{
        width: 70vw;
        margin: auto;
    }
}