header li {
    list-style-type: none;
    text-align: center;
    padding: 1em;
}

nav li:hover{
    background-color: black;
}

header a {
    text-decoration: none;
}

ul {
    flex-direction: column;
    display: none;
    margin: 0;
    padding: 0;
}

.hiddenMenu {
    display: flex;
}

.fiveDay{
    display: none;
}