@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Roboto+Slab:wght@900&display=swap');

body {
    font-family: $josefin;
    background-color: $bodyColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $roboto;
}

a {
    color: $linkColor;
}

a:active {
    color: $linkActive;
}

a:visited {
    color: $linkVisited;
}

a:visited:active {
    color: $linkActive;
}

header {
    background-color: $bookendsColor;
    overflow: hidden;

    img {
        position: absolute;
        height: 4rem;
        width: 4rem;
        top: 1.5rem;
        left: 2rem;
        background-color: $diskColor;
        border-radius: 50%;
    }

    h1 {
        text-align: center;
        padding-left: 4rem;
        width: 20rem;
        margin-left: auto;
        margin-right: auto;
    }

    nav {
        background-color: $navColor;
        color: $navText;
        font-family: $roboto;
        position: absolute;
        z-index: 10;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    ul {
        display: none;
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    #hamburger {
        width: 100vw;
        text-align: center;
        border-bottom: 1px solid white;
        padding: .4rem 0rem .4rem;
    }

    li {
        padding: .3rem 7rem .3rem;
    }

    li:hover {
        background-color: $navText;
        color: $navColor;
    }

    .here {
        background-color: $navHere;
    }

}

main {
    overflow: hidden;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $hnumColor;
    }

    .frame {
        position: relative;
        height: 62vh;
        z-index: -1;
    }

    input[type=button] {
        position: relative;
        top: -38vh;
        left: 31vw;
        width: 38vw;
        font-family: $roboto;
        border: none;
        background-color: $navColor;
        color: $navText;
        padding: 1em 0px;
        border-radius: 5px;
        min-width: 160px;
    }

    input[type=button]:active {
        background-color: $bookendsColor;
    }

    textarea, input[type=text], input[type=email]{
        font-family: $josefin;
    }

    input[type=submit] {
        width: 38vw;
        font-family: $roboto;
        border: none;
        background-color: $navColor;
        color: $navText;
        padding: 1em 0px;
        border-radius: 5px;
        min-width: 160px;
    }

    input[type=submit]:active {
        background-color: $bookendsColor;
    }

    #weather {
        background-color: $weatherColor;
        width: 100vw;
        height: 38vh;

        img {
            position: relative;
            width: 6rem;
            height: 6rem;
            left: 1rem;
            top: -4rem;
            background-color: $diskColor;
            border-radius: 50%;
        }

        ul {
            list-style: none;
            margin-left: 6rem;
            margin-top: -5rem;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            flex-direction: column;
        }
    }

    .container {
        width: 62vw;
        margin: auto;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    iframe {
        width: 100%;
        height: 62vw;
        margin: auto;
        border: none;
        border-radius: 5px;
    }
}

footer {
    background-color: $bookendsColor;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 280px;

    ul {
        list-style: none;
        width: 80%;
    }

    ul:nth-child(3) {
        li:nth-child(1) {
            display: none;
        }

        li:nth-child(2) {
            display: none;
        }

        display: flex;
    }

    img {
        width: 30px;
    }
}