$bookendsColor: #8aaa79;
$navColor: #657153;
$navText: white;
$weatherColor: #d1d5de;
$bodyColor: #d1d5de;
$diskColor: #b7b6c2;
$hnumColor: #837569;
$linkColor: blue;
$linkVisited: #837569;
$linkActive: #b7b6c2;
$roboto: 'Roboto Slab', serif;
$josefin: 'Josefin Sans', sans-serif;