@media (min-width:37em) {
    body {
        text-align: left;
        margin: 3em;
    }
    .container{
        width:80vw;
        margin: auto;
    }
    header {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    nav{
        flex-direction: row;
        overflow: hidden;
    }

    .hamburger{
        display: none;
    }

    nav a{
        display:inline;
    }

    .logoPng, object{
        height: 10vw;
        width: 10vw;
    }

    footer {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}