@import url('https://fonts.googleapis.com/css?family=Gayathri|Montserrat&display=swap');

body {
    background-color: #63d2ff;
    color: #7b3e19;
    font-family: 'Gayathri', sans-serif;
}

header {
    padding: 1.5vw;
    margin: 0;
    background-color: #ff2876;
    color: white;
    border-color: white;
}

h1,
h2,
h3,
h4 {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h4 {
    font-style: italic;
}

object,
.logoPng {
    width: 20vw;
    float: left;
    background-color: white;
    border-radius: 50%;
}

header div {
    margin-left: 22vw;
}

header hr {
    width: 95%;
    margin-left: 0;
}

ul {
    clear: both;
    flex-direction: column;
    display: none;
    margin: 0;
    padding: 0;
}

.hiddenMenu {
    display: flex;
}

header li {
    list-style-type: none;
    text-align: center;
    padding: 1em;
}

.here {
    background-color: #fceff4;
    color: #ff2876;
}

nav a:hover {
    background-color: white;
    color: #ff2876;
}

header a {
    text-decoration: none;
    color: white;
}

main {
    margin: 0;
    padding: 0;
    background-color: 63d2ff;
}

h2 {
    padding: 1em;
    margin: 0;
    text-align: center;
}

main a {
    color: #b28b84;
}

main a:visited,
main a:active,
main a:hover {
    color: #ff2876;
}

main hr {
    border-color: #b28b84;
    width: 75vw;
}

section {
    padding: 2em;
    border-radius: 15px;
}

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

img {
    width: 100%;
}

footer {
    background-color: #ff2876;
    color: white;
    margin: 0;
    padding: 0;
}

img[data-src] {
    filter: blur(0.2em);
}

img {
    filter: blur(0em);
    transition: filter 1s;
}

picture label {
    position: relative;
    background-color: white;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .5em;
    top: -2em;
    visibility: hidden;
}